ganchudo:
    inspectors:
        -   name: 'Composer Validation'
            command: 'composer validate --strict'
        -   name: 'Php Linter'
            command: 'php -l <iterator>'
            iterator:
                in: ['src']
                exclude: []
                file: '*.php'
        -   name: 'Php Code Sniffer'
            command: 'vendor/bin/phpcs --standard=phpcs.xml.dist'